@page "/revize/{Ahoj}"
@inject HttpClient Http

<h1 class="text-green-500">@Ahoj</h1> 

<div>
    <input class="border" type="text" @bind-value=vyhledavaniString />
    <button @onclick="() => VyhledavaniClick()" type="button" class="twbtn bg-emerald-500">Vyhledej</button>
    @if (seznamReviziPoVyhledani is not null)
    {
        
    <div>
     @foreach (var rev in seznamReviziPoVyhledani)
    {
        <div>Id: @rev.Id     Jmeno: @rev.Nazev</div>
    }
        </div>
    }
    else
    {
        
    }
</div>
 


@code {
	
	List<RevizeModel>? seznamReviziPoVyhledani;

	[Parameter] public string Ahoj { get; set; } = "";

    string vyhledavaniString = "";

     async Task VyhledavaniClick()
    {
       seznamReviziPoVyhledani = await Http.GetFromJsonAsync<List<RevizeModel>>($"revize/{Ahoj}");
    }

  
}
