@page "/revize"
@page "/ahooj"

<h3>Revize</h3>

	<EditForm Model=editingItem ">
 <div> <InputText class="border-2 border-slate-300" /></div>
 <button  class="oi oi-arrow-thick-right">Detail</button>
	
 @foreach()
 {


 }
 


@code {
	 VybaveniModel? editingItem;

	//[Parameter] public Ahoj { get; set; }
}
